<!DOCTYPE html>
<html lang="ar">

{{> head}}

<body>

<div id="wrapper">

    {{> navbar}}

    {{> sidenav}}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">أضافة وصفة </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
       {{old_data}}
        {{# if register_error }}
            {{# each register_error}}
                <p class="alert alert-danger">{{ this }}</p>
            {{/each}}
        {{/if}}
        <div id="AllErrors" class="alert alert-danger" style="display: none"></div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        تفاصيل الوصفه
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div id="AllErrors" class="alert alert-danger" style="display: none"></div>
                            <input id="user_id" type="hidden">
                            <div class="col-lg-6">
                            <div class="form-group">
                                        <label>الاسم الاول</label>
                                        <input class="form-control" name="first_name"  id="first_name" required >
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>الاسم العائلى</label>
                                        <input class="form-control" name="last_name"  id="last_name" required >
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>البريد الالكترونى</label>
                                        <input class="form-control" name="email"  id="email" type="email" required>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>كلمة المرور</label>
                                        <input class="form-control" name="password" type="password"  id="password" required>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>الصورة</label>
                                        <input class="form-control" type="file" name="image" id="image">
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>الهاتف</label>
                                        <input class="form-control" name="phone" id="phone" required>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>تاريخ الميلاد</label>
                                    <input type="date" class="form-control" name="birth_day" id="birth_day" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>النوع</label>
                                        <select class="form-control" name="gender"  id="gender" required>
                                            <option value="">اختيارات ..</option>
                                            <option value="1">ذكر</option>
                                            <option value="2">انثى</option>

                                        </select>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>البلد</label>
                                        <select class="form-control" name="country" id ="country" required>

                                        </select>
                                    </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>المحافظه</label>
                                        <select class="form-control" name="city" id ="city" required>
                                        </select>
                                    </div>
                            </div>

                            <div class="col-lg-12 panel-heading" style="color: #333; background-color: #f5f5f5;border-color: #ddd; border-bottom: 0;">
                                معلومات خاصة
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>الطول (سم)</label>
                                    <input class="form-control" name="length"  id="length" required >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>(كيلو جرام) الوزن</label>
                                    <input class="form-control" name="weight"  id="weight" required >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>معدل النشاط</label>
                                    <select class="form-control" name="user_activity" id ="user_activity" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 panel-heading" style="color: #333; background-color: #f5f5f5;border-color: #ddd; border-bottom: 0;">
                                معلومات طبية
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>اسم الطبيب المعالج </label>
                                    <select class="form-control" name="doctor_id" id ="doctor_id" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>نوع السكر </label>
                                    <select class="form-control" name="soker_type" id ="soker_type" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>اسم الدواء</label>
                                    <input class="form-control" name="medical_name"  id="medical_name" required >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label> صورة الدواء</label>
                                    <input class="form-control" type="file" name="medical_image" id="medical_image">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label> النظام الغذائى </label>
                                    <select class="form-control" name="diet_type" id ="diet_type" required>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                    <button type="submit" id="submit" class="btn btn-default">Submit Button</button>
                            </div>
<!--                                </form>-->
                            </div>
                            <!-- /.col-lg-6 (nested) -->

                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    {{> scripts}}

<script src="/dist/js/api/request.js"></script>
    <script>

        $(document).ready(function(){
          var userInfoLogin=$.parseJSON(userSessionInfo());
            $('#user_id').val(userInfoLogin.id);
          var  ApiUrlCountries=getUserTokenCookie().url+'users/allUserInfo?token='+getUserTokenCookie().user_token;
            fetch(ApiUrlCountries,
                    {
                        method: 'GET',
                        headers: {"Content-Type": "application/json"}
                    }).then((Response)=>{
                Response.json().then((data)=>{
                    if(data.error)
                    {
                        $('#AllErrors').val('');
                        $("#AllErrors").show();
                        $('#AllErrors').html("<li>" + data.error.message + "</li>");
                    }
                    else
                    {
                        $.each(data.Country, function(i,item) {
                            $("#country").append("<option value="+item._id+">"+item.title +"</option>");
                        });
                        $.each(data.City, function(i,item) {
                            $("#city").append("<option value="+item._id+">"+item.title +"</option>");
                        });
                        $.each(data.Doctor, function(i,item) {
                            $("#doctor_id").append("<option value="+item._id+">"+item.firstName+" "+item.lastName +"</option>");
                        });
                        $.each(data.ActivityRate, function(i,item) {
                            $("#user_activity").append("<option value="+item._id+">"+item.title +"</option>");
                        });
                        $.each(data.SokerType, function(i,item) {
                            $("#soker_type").append("<option value="+item._id+">"+item.title +"</option>");
                        });
                        $.each(data.DietType, function(i,item) {
                            $("#diet_type").append("<option value="+item._id+">"+item.title +"</option>");
                        });

                    }

                })

            });

            var first_name,last_name,email,password,image,phone,gender,country,city,
                    birth_day,weight,length,doctor_id,user_activity,soker_type,medical_name,medical_image,diet_type;

            $("#submit").click(function(){
                first_name=$("#first_name").val();
                last_name=$("#last_name").val();
                email=$("#email").val();
                password=$("#password").val();
                // image=$("#image").val();
                phone=$("#phone").val();
                gender=$("#gender").val();
                birth_day=$("#birth_day").val();
                country=$("#country").val();
                city=$("#city").val();
                length=$("#length").val();
                weight=$("#weight").val();
                doctor_id=$("#doctor_id").val();
                user_activity=$("#user_activity").val();
                soker_type=$("#soker_type").val();
                medical_name=$("#medical_name").val();
                diet_type=$("#diet_type").val();
                // medical_image=$("#medical_image").val();
                var ApiUrl ='users/addUser?token='+getUserTokenCookie().user_token;
                addTableRow(ApiUrl,JSON.stringify({
                    first_name:first_name,
                    last_name:last_name,
                    email:email,
                    password:password,
                    image:image,
                    phone:phone,
                    gender:gender,
                    birth_day:birth_day,
                    country:country,
                    city:city,
                    length:length,
                    weight:weight,
                    doctor_id:doctor_id,
                    user_activity:user_activity,
                    soker_type:soker_type,
                    medical_name:medical_name,
                    diet_type:diet_type,
                    medical_image:medical_image,}),'users')

            });


        });
    </script>
</div>
</body>

</html>
