            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" style="padding-right: 0;"
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> لوحة الاستعلام</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user"></i>المستحدمين<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admins">الادمن</a>
                                </li>
                                <li>
                                    <a href="/users">المرضى</a>
                                </li>


                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user"></i>  المكونات الغذائية<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/category">الفئات الرئيسية</a>
                                </li>
                                <li>
                                    <a href="#">الفئات الفرعية</a>
                                </li>
                            </ul>
                        </li>
                    <li>
                        <a href="/suggestedmeal"><i class="fa fa-dashboard fa-fw"></i> الوجبات المقترحة</a>
                    </li>
                         <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> المقالات<span class="fa arrow"></span> </a>
                             <ul class="nav nav-second-level">

                                 <li>
                                     <a href="/recipe">  وصفات تهمك</a>
                                 </li>

                                 <li>
                                     <a href="/#"> مقالات طبية</a>

                                 </li>
                                 <li>
                                     <a href="/#"> مقالات متنوعة</a>

                                 </li>

                             </ul>
                        </li>

                         <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i>  الرسائل</a>
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i>  العروض الترويجية</a>
                        </li>
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> التقارير<span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a href="/#">   تقرير مستوى السكر بالدم</a>
                            </li>

                            <li>
                                <a href="/#"> تقرير غذائى </a>

                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> الاعدادات <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a href="/mealtype"> البرنامج الغذائى</a>
                            </li>

                            <li>
                                <a href="/#">العناصر الغذائية</a>

                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>