<!DOCTYPE html>
<html lang="ar">

{{> head}}

<body>

    <div id="wrapper">

        {{> navbar}}

        {{> sidenav}}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="float: right;">اضافة محافظة</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="direction: rtl;">
                            اضافة محافظة
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12" style="float: right;direction:rtl;">
                                    <form role="form">
                                        
                                        <div class="form-group">
                                            <label>الاسم</label>
                                            <input id="nametxt" class="form-control" placeholder="اضف الاسم">
                                        </div>

                                         <div class="form-group">
                                            <label>الدولة</label><br/>
                                            <select id="countryddl" class="form-control"></select>
                                        </div>
                                      
                                        {{!-- <button type="submit" class="btn btn-default">حفظ</button>
                                        <button type="reset" class="btn btn-default">الغاء</button> --}}
                                        <div class="form-group" style="text-align: center;">
                                        <button type="button" id="savebtn" class="btn btn-success">حفظ</button>
                                         <button type="button" onclick="cancel('city')" class="btn btn-danger">الغاء</button>
                                        </div>
                                    </form>
                                </div>
                               
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    {{> scripts}}

</body>

<script src="/dist/js/api/request.js"></script>
<script>
    
    $(document ).ready(function() {
      getData('countries').then(function(result) {
        $.each(result, function(i,item) {
            $('#countryddl').append("<option value='"+item._id+"'>" +item.name+" </option>"); 
        });

      });
       
    });

    $('#savebtn').click(function(){
       addTableRow('cities',JSON.stringify({name:$('#nametxt').val(),country:$('#countryddl').children("option:selected").val()}),'city')   
    });
          
 </script>

</html>
